

<body>
  <a href="home">
    <img class="back" src="./../../assets/image/back.png" > 
  </a>


<div class="form-box">
  <div class="button-box">
  <button type="button" class="toggle-btn1" (click)="gotosignup()">Sign up</button>
  <button type="button" class="toggle-btn2" (click)="gotoSignin()">Login</button>
</div>


<form class="formu">
<form  [formGroup]="forminput">
  <label for="name"><b>Name</b><b style="color: #660909;">*</b></label>
  <input type="text" [(ngModel)]= "user.firstName"  id="name" placeholder=" Type your Name" formControlName="name">
    <div class="warning-div"
      *ngIf="!forminput.pristine && forminput.controls['name'].errors?.['required']">
       <img src="./../../assets/image/warn.png" class="warning-icon">&nbsp; Name required 
   </div>
</form>   
 <form  [formGroup]="forminput1">

    <label for="LastName"><b>Last Name</b><b style="color: #660909;">*</b></label>
    <input type="text"  [(ngModel)]= "user.lastName"  id="lastName" name="lastName" placeholder="  Type your Last Name" formControlName="lastName">
    <div class="warning-div"
       *ngIf="!forminput1.pristine && forminput1.controls['LastName'].errors?.['required']">
         <img src="./../../assets/image/warn.png" class="warning-icon">&nbsp; Last Name required 
   </div>
 </form> 
 <form  [formGroup]="forminput2">
  <label for="LastName"><b>Username</b><b style="color: #660909;">*</b></label>
  <input type="text"  [(ngModel)]= "user.username"  id="username" name="username" placeholder="  Create a username" formControlName="username">
  <div class="warning-div"
     *ngIf="!forminput2.pristine && forminput2.controls['username'].errors?.['required']">
       <img src="./../../assets/image/warn.png" class="warning-icon">&nbsp; username required 
 </div>
 </form> 

<form  [formGroup]="forminput3">
  <label for="email"><b>Email</b><b style="color: #660909;">*</b></label>
  <input type="text"  [(ngModel)]= "user.email" id="email"  name="email"  placeholder= "  Type your e-mail" formControlName="email">
  <div class="warning-div"
     *ngIf="!forminput3.pristine && forminput3.controls['email'].errors?.['required']">
      <img src="./../../assets/image/warn.png" class="warning-icon">&nbsp; Email Required 
 </div>
 <div class="warning-div"
      *ngIf="!forminput3.pristine && forminput3.controls['email'].errors?.['email']">
      <img src="./../../assets/image/warn.png" class="warning-icon">&nbsp; Email Incorrect 
 </div>
</form>


<form  [formGroup]="forminput4">
  <label for="password"><b>Password</b><b style="color: #660909;">*</b></label>
  <input type="password" [(ngModel)]= "user.password"  id="password" name="password" placeholder="  Create your Password" formControlName="password">
  <div class="warning-div"
      *ngIf="!forminput4.pristine && forminput4.controls['password'].errors?.['required']">
      <img src="./../../assets/image/warn.png" class="warning-icon">&nbsp; Create your password.
 </div>
</form>


<form  [formGroup]="forminput5">
  <label for="confirmeMdp"><b>Confirm Password</b><b style="color: #660909;">*</b></label>
  <input type="password" id="confirmeMdp" placeholder="  Confirm Password" formControlName="confirmpwd">
  <div class="warning-div"
      *ngIf="!forminput5.pristine && forminput5.controls['confirmpwd'].errors?.['required']">
      <img src="./../../assets/image/warn.png" class="warning-icon">&nbsp;Confirm your password.
  </div>
   <div class="warning-div"
      *ngIf="forminput5.controls['confirmpwd'].value !== forminput4.controls['password'].value && forminput5.controls['confirmpwd'].touched && !forminput5.controls['confirmpwd'].errors?.['required']">
      <img src="./../../assets/image/warn.png" class="warning-icon">&nbsp;Passwords do not match 
  </div>
</form>


<label for="companyName">Company Name</label>
<input type="text" [(ngModel)]="user.companyName" id="companyName" name="companyName"
  placeholder="  Type your Company Name" formControlName="companyName">

<label for="phone">Phone Number</label>
<input type="text" [(ngModel)]="user.phone" id="phone" name="phone"
  placeholder=" Enter your phone number"  (keypress)="onPhoneKeyPress($event)"
  maxlength="8" minlength="8" formControlName="phone">

 
 <button type="submit" [disabled]=" !forminput.valid && !forminput1.valid && !forminput2.valid && !forminput3.valid && !forminput4.valid  && !forminput5.valid" class="sumbmit-btn" (click)="register()">Register</button>










