<body>
    <app-usernav></app-usernav>
    <main>
      <header>
        <div class="row align-items-center">
          <div class="col-5 first-part">
            <h1 class="title">Welcome to SignEX</h1>
          </div>
          <div class="col-4">
            <img src="./../../assets/image/sign.png" class="img-top">
          </div>
        </div>
  
      </header>
  
      <section class="features">
        <div class="container">
          <div class="heading-process">
            <h2>Our Process</h2>
            <h6>Sign your documents with simple steps</h6>
          </div>
          <div class="our-process-main">
            <div class="row">
              <div class="col-md-4">
                <div class="bg-first card-parent">
                  <div class="process-card">
                    <div class="text-right">
                      <div class="step">
                        <h3><span>step</span> 01</h3>
                      </div>
                    </div>
  
                    <h4>Upload</h4>
                    <p>Upload your document, sign, and send it securely. Your sensitive data is protected with top-notch encryption for a seamless electronic signature experience</p>
                  </div>
                </div>
  
              </div>
              <div class="col-md-4">
                <div class="bg-first card-parent">
                  <div class="process-card">
                    <div class="text-right">
                      <div class="step">
                        <h3><span>step</span> 02</h3>
                      </div>
                    </div>
  
                    <h4>Send Link</h4>
                    <p>Tailor your document's journey by selecting senders. Recipients will receive a secure link for exclusive access to sign. With authentication and encryption, confidentiality and integrity are maintained throughout.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="bg-first card-parent">
                  <div class="process-card">
                    <div class="text-right">
                      <div class="step">
                        <h3><span>step</span> 03</h3>
                      </div>
                    </div>
  
                    <h4>Recieve</h4>
                    <p>Get your document signed and ready for download worry-free. Your information stays safe, and you can store it with your other documents, just for you.</p>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </section>
    </main>
    <img src="./../../assets/image/security illu.png" class="img-sec-illu">
  
    <section class="about-us">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 about-us-text">
            <h2 class="typed-text">About SignEx</h2>
            <p>
              SignEx is a revolutionary e-signature platform designed to streamline your document signing process. We empower businesses and individuals to securely sign, send, and manage documents electronically, eliminating the need for printing, scanning, and physical signatures. Our user-friendly interface and robust security features make it easy for anyone to get started and experience the convenience of e-signatures.
            </p>
            <p>
              It is committed to providing a reliable and secure e-signature solution for all your needs. We are constantly innovating and developing new features to enhance the user experience and ensure the highest level of security for your sensitive documents. Partner with SignEx and unlock the power of e-signatures to transform your document workflow.
             <a class="seemore" href="about">see more...</a></p>
          </div>
          <div class="col-md-6 about-us-image">
            <img src="./../../assets/image/bbb.png"  class="img-fluid">
          </div>
        </div>
      </div>
    </section>
    <section class="e-sign">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4 e-sig-image">  <img src="./../../assets/image/signat.png" class="img-fluid">
          </div>
          <div class="col-md-8 e-sign-text">  <br> <br>
            <h2 class="typed-textsig">What is an Electronic Signature?</h2>
            <p>
              Electronic signatures, with their fusion of technology and legality,
              have become indispensable in modern business transactions. They streamline
              processes, ensuring compliance and security while eliminating the need for
              physical presence during signings. In today's globalized economy, where
              swift decision-making and collaboration are vital, electronic signatures
              transcend geographical boundaries and time constraints, allowing individuals
              to authorize documents remotely. Their efficiency not only fosters
              productivity but also enhances accessibility, catalyzing the pace of
              commerce worldwide. Through advanced cryptographic techniques, electronic
              signatures uphold trust and authenticity, safeguarding against fraud and
              tampering while granting legal validity in numerous jurisdictions.
            </p>
            <p>
              In essence, electronic signatures embody the quintessence of modernity
              in contractual agreements and official documentation. They represent
              a nexus of convenience, security, and environmental consciousness,
              facilitating seamless transactions while ensuring the integrity of
              documents and identities of signatories. As the demands of the digital
              age continue to evolve, electronic signatures stand as a cornerstone,
              empowering businesses and individuals alike to navigate the complexities
              of the modern world with efficiency and confidence.
            </p>
          </div>
        </div>
      </div>
    </section>
   
    
    
  
    <footer class="text-center text-lg-start p-3">
  
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold mb-4">
                Sign Ex
              </h6>
              <p>
                Empowering Your Signature, Transforming Your Workflow.
              </p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold mb-4">
                Links
              </h6>
              <p>
                <a href="home" class="text-reset">Home</a>
              </p>
              <p>
                <a href="about" class="text-reset">About Us</a>
              </p>
              <p>
                <a href="#!" class="text-reset">My Documents</a>
              </p>
            </div>