<script src="node_modules/jquery/dist/jquery.min.js"></script>
<body>
    <header id="header" class="header fixed-top d-flex align-items-center">
      <a href="accueil" class="logo d-flex align-items-center">
          <img src="./../../assets/image/signex logo.png">
          <span class="d-none d-lg-block">SignEX</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
      
      <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
          <input type="text" name="query" placeholder="Search user" title="Enter search keyword">
          <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
      </div>
      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center" style="text-decoration: none; ">

            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="adminProfile" >
              <img src="./../../assets/image/pfp.png" alt="Profile" class="rounded-circle">
              <span class="d-none d-md-block ps-2">Admin</span>
            </a>
        </ul>
      </nav>
    </header>
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
  
      <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
          <a class="nav-link collapsed" href="adminDashboard">
            <span>Users table</span>
          </a>
        </li>

        <li class="nav-heading">__________________________________</li>

        <li class="nav-item">
            <a class="nav-link " href="adminUser">
              <span>Add Users</span>
            </a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link collapsed" href="adminEvent">
              <span>Delete Users</span>
            </a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link collapsed" href="adminActu">
              <span>Update Users Information</span>
            </a>
          </li>
        <li class="nav-heading">__________________________________</li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="adminProfile">
            <span>Profile</span>
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="# ">
              <span>Messages</span>
            </a>
          </li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="home">
            <span (click)="logout()">Logout</span>
          </a>
        </li>
  
      </ul>
  
    </aside>
  
    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Add Users</h1>   
      </div>
      <section class="section profile">
       
  <!-- Table -->
  <table class="table">
    <thead>
      <tr>

        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>

     <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.password}}</td>
        <td>{{user.creationDate}}</td>
        <td><button class="btn btn-warning text-light" (click)="updateUser(user.id)" >Update</button>&nbsp; &nbsp;
          <button class="btn btn-danger text-light" (click)="confirmDelete(user)">Delete</button>
        </td>
      </tr> 
    </tbody>
  </table>
  <a href="signup"><button class="btn btn-info text-light text-center ">Ajouter</button> </a>
      
</section>
    </main>
  </body>
    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Confirmation</h5>
            </div>
            <div class="modal-body">
              <p>Êtes-vous sûr de vouloir supprimer cet utilisateur ?</p>
      
            </div>
            <div class="modal-footer">
      <button class="btn btn-secondary" (click)="closeDelete()">No</button>
      <button class="btn btn-danger" (click)="deleteUser()" >Yes</button>     
      </div>    
          </div>
      
        </div>
      </div>
 
  