
<app-usernav></app-usernav>
           <body>
             
            <aside id="sidebar" class="sidebar">
              
                <ul class="sidebar-nav" id="sidebar-nav">
          
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="Mydocuments">
                         <i class="fa-solid fa-folder-open"></i>
                          <span>My documents</span>
                        </a>
                      </li>
                      <li class="nav-item ">
                        <a class="nav-link collapsed" href="choice">
                            <i class="fa-solid fa-pen"></i>
                          <span>Upload new</span>
                        </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link  " href="sent">
                           <i class="fa-solid fa-paper-plane"></i>   
                            <span>Sent</span>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link collapsed" href="trash">
                           <i class="fa-solid fa-trash"></i>   
                            <span>Trash bin </span>
                          </a>
                        </li>
                      <li class="nav-item">
                          <a class="nav-link collapsed" href="">
                           <i class="fa-solid fa-ban"></i> 
                            <span>Refused</span>
                          </a>
                        </li>
                      <li class="nav-item">
                        <a class="nav-link collapsed" href="">
                         <i class="fa-solid fa-check"></i>
                          <span >Accepted</span>
                        </a>
                      </li>
              <br>
                </ul>
            
              </aside>
              <main id="main" class="main">
                <section class="section profile">
 
                    <table class="table">
                        <thead>
                          <tr>
                    
                            <th scope="col"></th>
                            <th scope="col">File Description</th>
                            <th scope="col">File name</th>
                            <th scope="col">File Type </th>
                            <th scope="col"> Statue </th>
                            
                            
                          </tr>
                          
                        </thead>
                        <tbody>
                            <tbody>
                    
                              <tr >
                                   <td></td>
                                   <td>Education contract</td>
                                   <td>Education contract THYNK.pdf</td>
                                   <td>application/pdf</td>
                                   <td> Pending </td>
                                   
                                 </tr> 
                               </tbody>
        


