<body>
    <a href="home">
    <img class="back" src="./../../assets/image/back.png" > 
</a>
    <div class="form-box">
        <div class="button-box">
          <div id="btn"> </div>
            <button type="button" class="toggle-btn1" (click)="gotosignup()">Sign Up</button>
            <button type="button" class="toggle-btn2" (click)="gotoSignin()">Login</button>
          </div>
          <form class="formu">
              <label for="username">Username</label>
              <input type="text"  [(ngModel)]= "username" [ngModelOptions] = "{standalone: true}" id="username" placeholder="Type your Username">
  
              <label for="motDePasse">Password</label>
              <div>
                <input type="password" [(ngModel)]= "password" [ngModelOptions] = "{standalone: true}"id="password" #passwordInput placeholder="Entrer votre mot de passe" />
                <img src="./../../assets/image/eye.png" id="pass-icon" class="pass-icon" (click)="togglePasswordVisibility(passwordInput)" />
              </div>
             
                
           
              <br>
              <button type="submit" class="sumbmit-btn" (click)="login()">Login</button>
          </form>
      </div>
  
      </body>
  
