
<body>
    <div class="form-box">
    
        <br>
        <h6 ><span class="aaa">To view and read the document please click the button down below </span> <br>
          
            <button type="submit" class="submit-btn" (click)="pdf()" > View pdf </button>
          
            <br>
            <br> <br> 
           
          
            You can then choose to sign or refuse it based on your decision.
            <br> <br>    <br> 

             <button type="submit" class="sign"  (click)="sign()"> Sign pdf </button>  &nbsp; &nbsp; &nbsp;
            <button type="submit" class="refuse" (click)="refuse()" > Refuse </button>
        <br>
       
    