<body>
    <div class="boxs">
    <div class="box1">
        <img src="./../../assets/image/pdf-icon.png" class="icon-img"><br>
       <span class="aaa">To view and read the document please click the button down below </span><br>
        <button type="submit" class="submit-btn" > View pdf </button>
    </div>
    <div class="box2">
        <img src="./../../assets/image/sign-icon.png" class="icon-img"><br>
        <span class="aaa2">You can then choose to sign or refuse it based on your decision.</span>
        <div class="bnts">
            <button type="submit" class="sign"  (click)="sign()"> Sign pdf </button>  &nbsp; &nbsp;
            <button type="submit" class="refuse" (click)="refuse()" > Refuse </button>
        </div>
        
    </div>
</div>
</body>

    