

           <body>
             <app-usernav></app-usernav>
            <aside id="sidebar" class="sidebar">
              
                <ul class="sidebar-nav" id="sidebar-nav">
          
                    <li class="nav-item">
                        <a class="nav-link" href="Mydocuments">
                         <i class="fa-solid fa-folder-open"></i>
                          <span>My documents</span>
                        </a>
                      </li>
                      <li class="nav-item ">
                        <a class="nav-link collapsed" href="uploadFile">
                            <i class="fa-solid fa-pen"></i>
                          <span>Upload new</span>
                        </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link collapsed " href="">
                           <i class="fa-solid fa-paper-plane"></i>   
                            <span>Sent</span>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link collapsed" href="">
                           <i class="fa-solid fa-trash"></i>   
                            <span>Trash bin </span>
                          </a>
                        </li>
                      <li class="nav-item">
                          <a class="nav-link collapsed" href="">
                           <i class="fa-solid fa-ban"></i> 
                            <span>Refused</span>
                          </a>
                        </li>
                      <li class="nav-item">
                        <a class="nav-link collapsed" href="">
                         <i class="fa-solid fa-check"></i>
                          <span >Accepted</span>
                        </a>
                      </li>
              <br>
                </ul>
            
              </aside>
              <main id="main" class="main">
                <section class="section profile">
 
                    <table class="table">
                        <thead>
                          <tr>
                    
                            <th scope="col"></th>
                            <th scope="col">owner</th>
                            <th scope="col">File Name</th>
                            <th scope="col">description </th>
                            <th scope="col">Email</th>
                            <th scope="col">Password</th>
                            <th scope="col">Status</th>
                            
                          </tr>
                          
                        </thead>
                        <tbody>
                            <tbody>
                    
                                <tr >
                                   <td></td>
                                   <td>aa</td>
                                   <td>aa</td>
                                   <td>aa</td>
                                   <td>a</td>
                                   <td></td>
                                   <td></td>
                                
                                 </tr> 
                               </tbody>
        
