<!-- <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="home">SignEX</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">  <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> About us </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Mydocuments">My Documents</a>
          </li>
        </ul>
        <button  (click)="gotosignin()" type="button" class="btn btn-info float-end">Log In</button>
    </div>
    </div>
  </nav>
   -->
   <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="userhome">SignEX</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center " id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 align-items-center ">
        <li class="nav-item active">
          <a class="nav-link" href="userhome">Home</a>
        </li>&nbsp; &nbsp; &nbsp;
        <li class="nav-item">
          <a class="nav-link" href="userabout">About us</a>
        </li>&nbsp; &nbsp; &nbsp;
      
          <li class="nav-item dropdown">
            <button class="dropbtn"><b>Documents</b></button>
            <div class="dropdown-content">
                <a href="uploadFile">upload new file</a>
                <a href="Mydocuments">My documents</a>
                <a href="#">Sent documents</a>
                <a href="#">Received documents</a>
              </div>
            </li>
            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
         &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
         &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
      &nbsp; &nbsp; &nbsp; 
              <ul class="d-flex align-items-center" style="text-decoration: none; ">
            </ul>
                <a class="nav-link nav-profile d-flex  pe-0 pfp" href="profile" >
                  <img src="./../../assets/image/pfp.png" alt="Profile" class="rounded-circle">
                  <span class="d-none d-md-block ps-2">User Example</span>
                </a>
            
          
          &nbsp; &nbsp; &nbsp;
      </ul>
    </div>
  </nav>