<nav class="navbar navbar-expand-lg" >


    <div class="collapse navbar-collapse justify-content-between " id="navbarTogglerDemo02">
     <div> <a href="userhome" class="logo d-flex align-items-center">
        <img src="./../../assets/image/signex logo.png">
        <span class="d-none d-lg-block">SignEX</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="lign-items-center">

      <ul class="navbar-nav  mt-2 mt-lg-0 ms-5 ps-5">
        <li class="nav-item active">
          <a class="nav-link" href="userhome">Home</a>
        </li>&nbsp; &nbsp; &nbsp;
        <li class="nav-item">
          <a class="nav-link" href="userabout">About us</a>
        </li>&nbsp; &nbsp; &nbsp;
        <li class="nav-item dropdown pt-2">
          <button class="dropbtn"><b>Documents</b></button>
          <div class="dropdown-content">
              <a href="choice">Upload New </a>
              <a href="Mydocuments">My Documents</a>
              <a href="#">Accepted Documents</a>
              <a href="#">Refused Documents</a>
            </div>
          </li>  

      </ul>
    </div>
    <div>
       <a class="nav-link d-flex pfp" href="profile" >
         <img src="./../../assets/image/pfp.png" alt="Profile" class="rounded-circle">
         <span class="d-none d-md-block ps-2">Yasmine.C</span>
       </a>
   
     </div>
     </div>
     
  </nav>