nav{
    padding-left: 50px;
    padding-right: 110px;
    font-size: 20px;
    font-weight: bold;
}
.nav-item a{  color: #003f5a;}
.nav-profile span{
    color: #003f5a;
}
.nav-profile {
    margin-right: -200px;
}

.dropdown {
    position: relative;
    display: inline-block;
    align-items: center;
    border-radius: 20px;
  }

  
  .dropbtn {
    background-color: white;
    color: #003f5a;
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-weight: lighter;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
   color: #003f5a;
    min-width:200px;
    box-shadow: 0 2px 4px 0 rgba(66, 65, 65, 0.2);
    z-index: 1;

  }


  .dropdown-content a {
    color:#003f5a;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    background-color: white;
   
  }

  
  .dropdown-content a:hover {
    background-color: rgb(254,160,47,0.6);
  }

  .dropdown:hover .dropdown-content {
    display: block;
    background-color: #f4f1ec;
  }
  .rounded-circle{
    width: 30px;
    height: 30px;
  }
  .logo {
    line-height: 1;
  }
  
  @media (min-width: 120px) {
    .logo {
      width: 0px;
    }
  }
  
  .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  
  .logo span {
    font-size: 25px;
    font-weight: 700;
    color: #003f5a;
    font-family: "Nunito", sans-serif;  
  }