
  <body>

      <app-usernav></app-usernav>
  
    
      <!-- ======= Sidebar ======= -->
      <aside id="sidebar" class="sidebar">
    
        <ul class="sidebar-nav" id="sidebar-nav">

          <li class="nav-item">
            <a class="nav-link collapsed" href="MyDocuments">
              <span>Documents</span>
            </a>
          </li>

          <li class="nav-heading">__________________________________</li>

          <li class="nav-item">
              <a class="nav-link " href="adminUser">
                <span>User profile</span>
              </a>
            </li>
    
            <li class="nav-item">
              <a class="nav-link collapsed" href="adminEvent">
                <span>Update Profile</span>
              </a>
            </li>
    
            <li class="nav-item">
              <a class="nav-link collapsed" href="help">
                <span>help</span>
              </a>
            </li>
    
          <li class="nav-heading">__________________________________</li>
    
          <li class="nav-item">
            <a class="nav-link collapsed" href="home">
              <span (click)="logout()">Logout</span>
            </a>
          </li>
    
          <li class="nav-item">
            <a class="nav-link collapsed" href="home">
              <span>Delete Account</span>
            </a>
          </li>
        </ul>
    
      </aside><!-- End Sidebar-->
    
      <main id="main" class="main">
    
        <div class="pagetitle">
          <h1>Profile</h1>
        </div>
    
        <section class="section profile">
          <div class="row">
            <div class="col-xl-4">
    
              <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
    
                  <img src=";/../../../assets/image/pfp.png" alt="Profile" class="rounded-circle">
                  <div *ngIf="currentUser">
                    <h2>Yasmine Cheikh</h2>
                    <h3  class="align-items: text-center ; ">{{currentUser.username}}</h3>
                </div>
                </div>
              </div>
            </div>
            <div class="col-xl-8">
              <div class="card">
                <div class="card-body pt-3">
                  <div class="tab-content pt-2">
                    <div class="tab-pane fade show active profile-overview" id="profile-overview">
                      <div class="card-body pt-3">
                        <h5 class="card-title">Profile Details</h5>
                        <div class="row">
                          <div class="col-lg-3 col-md-4 label">Last Name</div>
                          <div class="col-lg-9 col-md-8">Cheikh</div>
                        </div>
                        <div class="row">
                          <div class="col-lg-3 col-md-4 label">Name</div>
                            <div class="col-lg-9 col-md-8  ">Yasmine</div>
                          </div>
                       
                        <div class="row">
                          <div class="col-lg-3 col-md-4 label">Email</div>
                          <div class="col-lg-9 col-md-8">y.c.yass@gmail.com</div>
                        </div>
                        <div class="row">
                          <div class="col-lg-3 col-md-4 label">Phone number</div>
                          <div class="col-lg-9 col-md-8">
                        26908825
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-3 col-md-4 label">Company Name</div>
                          <div class="col-lg-9 col-md-8">
                        Company 
                          </div>
                        </div>
                       
                        
                      </div>
                    <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
    
                    </div>
    
                  </div>
                </div>
              </div>
    
            </div>
          </div>
      
    
     
    
  