
<body>
    <app-usernav></app-usernav>
    <aside id="sidebar" class="sidebar">
              
      <ul class="sidebar-nav" id="sidebar-nav">

          <li class="nav-item">
              <a class="nav-link " href="Mydocuments">
               <i class="fa-solid fa-folder-open"></i>
                <span>My documents</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link collapsed" href="choice">
                  <i class="fa-solid fa-pen"></i>
                <span>Upload new</span>
              </a>
              </li>
              <li class="nav-item">
                <a class="nav-link collapsed " href="sent">
                 <i class="fa-solid fa-paper-plane"></i>   
                  <span>Sent</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link collapsed " href="trash">
                 <i class="fa-solid fa-trash"></i>   
                  <span>Trash bin </span>
                </a>
              </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="">
                 <i class="fa-solid fa-ban"></i> 
                  <span>Refused</span>
                </a>
              </li>
            <li class="nav-item">
              <a class="nav-link collapsed" href="">
               <i class="fa-solid fa-check"></i>
                <span >Accepted</span>
              </a>
            </li>
    <br>
      </ul>
  
    </aside>
  <main>
    <a href="Mydocuments">
    <img class="back" src="./../../assets/image/back.png" > </a>
    <div class="container mt-3 card">
      
        <h3 class="titre-card">Send Document</h3>

        <form>
       <input type="email" name="to" [(ngModel)]="recipient" placeholder="Recipient Email">
       <button type="submit"  (click)="thecode ()">Generate Code</button>
      
       <div *ngIf="codecreation" class="alert alert-success" role="alert">
      <img src="../../assets/image/Untitled.jpeg" class="code">
       code generated successfully!
       <button type="submit" (click)="emailsent()">Send Email</button>
      </div>
     
        </form>
    </div> 
  </main>
</body>