
   <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="home">SignEX</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center " id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="home">Home</a>
        </li>&nbsp; &nbsp; &nbsp;
        <li class="nav-item">
          <a class="nav-link" href="about">About us</a>
        </li>&nbsp; &nbsp; &nbsp;
          <li class="nav-item">
            <a class="nav-link" href="signin">Documents</a>
          </li>&nbsp; &nbsp; &nbsp;
          
      </ul>
    </div>
  </nav>